<!DOCTYPE html>
<html>
<head>
  <title>Image Gallery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

</head>
<body>
  {% if pages %}
    {% for page in pages %}
      {{ page }}
    {% endfor %}
    <div class="navigation">
      {% if image_index > 0 %}
        <button onclick="location.href='?image_index={{ image_index-1 }}'" >Prev</button>
      {% endif %}
      {% if image_index < num_images-1 %}
        <button onclick="location.href='?image_index={{ image_index+1 }}'">Next</button>
      {% endif %}
    </div>
  {% else %}
    <p>No images found.</p>
  {% endif %}
</body>
</html>
