<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Once Upon a Time</title>
  </head>
  <body>
    <h1>Once Upon a Time: A Picture Book Generator</h1>

    <form action="/submit" method="POST" >
      <p3>Below is the beginning of a wonderful story. Fill in the blanks however you desire and submit to generate a unique picture book!<br><br>Once Upon a Time, there was a <input type="text" name ="input" id="input" required></p3>
      <button class="button" type="submit" name="Tell me a story!" value="{{  item2  }}">Tell me a story!</button> 
      
    </form>
  </body>
</html>
